body {
  background: #edebe9 linear-gradient(to bottom, #dbd7d1, #edebe9) no-repeat;
}

p {
  line-height: 1em;
}

.auth-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth-btn-link {
  text-align: center;
  width: 15em;
  height: 2.5em;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px #888;
  background-color: #f8f4e1;
  border: none;
  padding-top: 15px;
}
.auth-btn {
  text-align: center;
  font-size: 1em;
  width: 10em;
  height: 3em;
  margin: 10px;
  background-color: #ffea81;
  border: none;
}
.auth-btn-link:hover,
.auth-btn:hover {
  background-color: #ffde38;
}
.auth-form-container {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}
.auth-form-home {
  width: 30em;
  height: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-form-home span {
  color: #555;
  font-size: 40px;
  font-weight: bolder;
}
.auth-form-card {
  width: 100%;
  height: 100%;
}
.board-container {
  width: 100%;
  height: 50%;
}
.user-container {
  width: 100%;
  height: 50%;
}

.board {
  width: 95%;
  height: 100%;
  background-color: darkolivegreen;
  border: solid 10px #897853;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.board div {
  margin: 2%;
  width: 20%;
  height: 40%;
  background-color: tan;
  background-image: repeating-linear-gradient(
    -45deg,
    #eee,
    #eee 5px,
    #aaa 50px,
    #aaa 10px
  );
}

.user {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user #head {
  width: 40%;
  height: 40%;
  background-color: tan;
  border-radius: 100%;
}
.user #torso {
  width: 60%;
  height: 60%;
  background-color: #555;
  border-radius: 100px 100px 0 0;
}
.user #arm {
  position: absolute;
  width: 10%;
  height: 70%;
  border-top: solid 20px tan;
  border-radius: 100px 100px 0 0;
  background-color: #555;
  transform: rotate(25deg) translate(70px, -50px);
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5em;
  width: 15em;
  height: 20em;
  background-color: #fff;
  box-shadow: 2px 2px 15px #000;
}
.auth-form span {
  font-size: larger;
  font-weight: bolder;
}
.auth-form input {
  width: 12em;
  height: 2.5em;
  font-size: 20px;
  font-weight: 200;
  background-color: #eee;
  text-align: center;
  border: none;
}
.auth-form input::placeholder {
  font-size: 20px;
  text-align: center;
}
.auth-form input:focus {
  outline: none;
  box-shadow: 0px 4px #555;
}

nav {
  position: relative;
  display: flex;
  background-color: #4e3620dd;
  width: 100%;
  height: 3.5em;
}

.nav-home-container {
  position: relative;
  width: 5em;
  height: 100%;
  background-color: #897853;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#roof {
  position: absolute;
  border: solid 30px #4e3620dd;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: translate(0px, -30px);
}
#bottom {
  position: absolute;
  width: 40px;
  height: 25px;
  background-color: #4e3620dd;
  transform: translate(0px, 30px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#door {
  width: 15px;
  height: 20px;
  background-color: #897853;
  border-radius: 5px 5px 0 0;
}

.nav-logout-container {
  position: absolute;
  width: 5em;
  height: 100%;
  background-color: #897853;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0;
}
#door-frame {
  position: relative;
  width: 40px;
  height: 50px;
  background-color: #897853;
  border: solid 4px #4e3620dd;
}
#door-exit {
  position: absolute;
  width: 80%;
  height: 110%;
  background-color: #4e3620dd;
  transform: translate(0px, -7px) skewY(-20deg);
}
#door-knob {
  position: absolute;
  width: 20%;
  height: 20%;
  border-radius: 100%;
  background-color: #897853;
  transform: translate(20px, 20px);
}

#nav-route {
  padding-left: 1em;
  color: #f8f4e1;
}

.posts-container {
  position: absolute;
  width: 50%;
  left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.post {
  position: relative;
  width: 500px;
  min-height: 0;
  margin: 25px 0;
  padding: 10px;
  background-color: #f8f4e1;
  box-shadow: 0px 2px #888;
  animation: pop-up 1s ease-out;
  display: flex;
  justify-content: space-between;
  border: groove 1px;
}
.post-left {
  width: 60%;
  /* outline: solid; */
}
.post-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
  border-left: dashed 2px;
  /* outline: solid; */
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

.post-role {
  color: #4e3620;
}
.post-company {
  font-weight: 500;
  color: #897853;
}
.post-location,
.post-description,
.post-salary {
  color: #4e3620;
  font-size: 0.9em;
}
.post-status {
  padding: 5px;
  background-color: rgba(128, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  top: 25%;
  left: 63%;
}
.post-status-applied {
  padding: 5px;
  background-color: rgba(0, 128, 0, 0.7);
  color: #fff;
  position: absolute;
  top: 25%;
  left: 63%;
}
.post-applied-since {
  position: absolute;
  top: 27%;
  left: 77%;
}
.post-link {
  color: #4e3620;
}
.post-btn-container {
  width: 35%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
}
.post-add {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4e3620;
  color: #897853;
  position: fixed;
  right: 50px;
  bottom: 50px;
  font-size: 2em;
  text-decoration: none;
  text-align: center;
  animation: pop-up 1s;
}
.post-read {
  width: 2em;
  height: 2em;
  position: relative;
}
.post-read > div {
  position: absolute;
  top: 2px;
  left: -2px;
  width: 2em;
  height: 1.3em;
  background-color: #897853;
  border-radius: 100%;
}
.post-read > div > div {
  position: absolute;
  top: 0;
  left: 7px;
  width: 1em;
  height: 1.3em;
  background-color: #4e3620;
  border-radius: 100%;
}
.post-edit {
  width: 2em;
  height: 2em;
  position: relative;
}
.post-edit > div {
  position: absolute;
  top: -3px;
  width: 0.8em;
  height: 1.5em;
  background-color: #897853;
  border-bottom: solid 7px #4e3620;
  border-radius: 50% 50% 100% 100%;
  transform: rotate(45deg);
}
.post-delete {
  width: 2em;
  height: 2em;
  position: relative;
}
.post-delete div {
  position: absolute;
  top: -2px;
  right: 8px;
  width: 0.5em;
  height: 2em;
  background-color: #897853;
  border-radius: 10px;
  transform: rotate(45deg);
}
.post-delete :first-child {
  transform: rotate(-45deg);
}

@keyframes pop-up {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

.detailed-post-container {
  height: 500px;
  display: flex;
  justify-content: center;
  margin: 10px;
  background-color: #edebe9;
}

.post-table {
  width: 40%;
  height: 100%;
}

.post-table tr :first-child {
  text-align: right;
  color: #4e3620;
  font-weight: bold;
}
.post-table tr > :last-child {
  width: 100%;
  border: dotted 1px;
  padding-left: 30px;
  color: #897853;
  font-weight: bold;
}
td > a {
  color: #897853;
}

.compose-container {
  display: flex;
  justify-content: center;
  height: 37em;
}
.compose-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.compose-form input {
  height: 2em;
}

#popup {
  visibility: hidden;
  position: absolute;
  padding: 0.3em;
  border-radius: 5px;
  background-color: #888;
  color: #fff;
  bottom: 5px;
  right: -15em;
}
#popup::after {
  z-index: 2;
  content: "";
  position: absolute;
  top: 30%;
  left: -7%;
  border-style: solid;
  border-width: 7px;
  border-color: transparent #888 transparent transparent;
}
